
# 1 Data Wrangling <a id='1_Data_Wrangling'></a>
---

## 1.1 Contents <a id='1.1_Contents'></a>
- [1 Data Wrangling](#1_Data_Wrangling)
    - [1.1 Contents](#1.1_Contents)
    - [1.2 Introduction](#1.2_Introduction)
    - [1.3 Importing](#1.3_Importing)
    - [1.4 Loading The Data](#1.4_Loading_the_data)
- [1.5 Cleaning/Preparation](#1.5_Preliminary_exploration)
    - [1.5.1 Missing Values](#1.5.1_Missing_values)
    - [1.5.2 Duplicate Values](#1.5.2_Duplicate_values)
    - [1.5.3 Dropping Columns](#1.5.3_Dropping_columns)
    - [1.5.4 Imputation](#1.5.4_Imputation)
    - [1.5.5 Encoding](#1.5.5_Encoding)
    - [1.5.6 Data Type Conversions](#1.5.5_Conversion)
- [1.6 A Look Into Categorical Features](#1.6_Categorical_Features)
- [1.7 A Look Into Numerical Features](#1.7_Numerical_Features) 
    - [1.7.1 Target Feature](#1.7.1_Target_Feature)
- [1.8 Save the data](#1.8_Save_data)
- [1.9 Summary](#1.9_Summary)

## 1.2 Introduction <a id='1.2_Introduction'></a>

#### Purpose:
This notebook focuses on collecting your data, organizing it, and making sure it's well defined.

#### **Problem Statement:**
Enhance the effectiveness of donor engagement and support for a nonprofit organization by analyzing donor lifetime value, predicting churn, and implementing personalized retention strategies.

## 1.3 Importing <a id='1.3_Importing'></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import os

## 1.4 Loading The Data <a id='1.4_Loading_the_data'></a>

In [2]:
# Storing file path in variable and then using pd.read_csv() to load the data as a dataframe into crimeData

dataFilePath = "/Users/username/Development/springboard_main/Capstone Three/Springboard-Capstone-Three/src/data/raw/Donations _ Jan 2015 to Mar 2024.csv"
DonationData = pd.read_csv(dataFilePath, low_memory = False)

# Download the data files and then load from where those files are stored
# See instructions in data folder of GitHub Repo : Springboard-Capstone-Two

## 1.5 Preliminary Exploration <a id='1.5_Preliminary_exploration'></a>

In [3]:
#DonationData.info()

In [4]:
#DonationData.head(10)

##### Initial observations:
**Context**:
   - `Contact Id`: Unique identifier for each contact.
   - `Contact Type`, `Gift Date`, `Amount`, and `Gift Type` give information about the donation.
   - `Contact Tags`: Tags associated with the contact - may provide additional characteristics for the donor in question.
   - `First Gift Date`: Date of the first donation.
   - Contact demographic information: `Contact Primary Gender`, `Contact Primary Age`, `Contact Primary Full Address`, `Contact Primary Address City`, `Contact Primary Address State`, `Contact Social Score`, `Contact Primary Birth Year`, and `Contact Primary Birth Month`
   
**Missing Values**:
   - Most columns have non-null values, but several columns have a significant number of missing values.
   - The following have missing values:`Contact Primary Gender`, `Contact Primary Age`, `Notes`, `Contact Primary Full Address`, `First Recurring Gift Date`, `Recurring Gift Amount`, `Check Number`, `Segment Name`, `Campaign Name`, `Contact Primary Address City`, `Contact Primary Address State`, `Contact Social Score`, `Contact Primary Birth Year`, `Contact Primary Birth Month`, and `Selected Age` .

**Data Issues**:
   - There are a large number of missing values, particularly in `Contact Primary Age`, `Notes`, `Recurring Gift Amount`, `Check Number`, and `Segment Name`.
   - Some columns might have inconsistent data types (`Gift Date`, `First Gift Date`, `First Recurring Gift Date` should ideally be datetime instead of object.
   - `Contact Primary Gender` and `Contact Primary Age` have very few non-null values, which make them less useful for analysis.

**Next Steps**:
   - Address missing values through imputation or removal.
   - Convert select columns to their appropriate data types.
   - Explore relationships between different attributes. 
   - Apply feature engineering, creating new features from existing ones.

### 1.5.1 Missing Values <a id='1.5.1_Missing_values'></a>

In [5]:
# The number of missing values per column

DonationData.isna().sum()
DonationDataMissing = pd.DataFrame(DonationData.isna().sum())
DonationDataMissing.columns = ['Total # of missing values']

In [6]:
# The percentage of missing values per column, sorted from highest to lowest

DonationDataMissing['% of missing values'] = DonationData.isna().sum().sort_values(ascending = False)/len(DonationData.index)*100

In [7]:
# Number of missing values and percentages by column, sorted from highest to lowest

DonationDataMissing.sort_values(by = "Total # of missing values", ascending = False)

                               Total # of missing values  % of missing values
Selected Age                                       17353            99.982715
Contact Primary Age                                17352            99.976953
Contact Primary Birth Month                        17352            99.976953
Contact Primary Birth Year                         17352            99.976953
Contact Primary Gender                             17249            99.383499
Check Number                                       15571            89.715372
Recurring Gift Amount                              12028            69.301682
Notes                                              11376            65.545056
Campaign Name                                       7219            41.593685
Segment Name                                        7219            41.593685
First Recurring Gift Date                           6615            38.113621
Contact Primary Address State                       3578            20.615349
Contact Primary Address City                        3469            19.987324
Contact Primary Full Address                        3468            19.981563
Contact Tags                                         442             2.546670
First Gift Date                                        6             0.034570
Contact Social Score                                   2             0.011523
Gift Type                                              0             0.000000
Amount                                                 0             0.000000
Gift Date                                              0             0.000000
Contact Type                                           0             0.000000
Contact Id                                             0             0.000000

##### Notes on missing data

Handling columns with a high percentage of missing values (Selected Age, Contact Primary Age, Contact Primary Birth Month, Contact Primary Birth Year, Contact Primary Gender, Check Number, Recurring Gift Amount, Notes, Campaign Name, Segment Name, First Recurring Gift Date, Contact Primary Address State, Contact Primary Address City, Contact Primary Full Address, and Contact Tags)


Now that we have a clear understanding of the missing values in the dataset, we can proceed with addressing them. Here are some steps you can take:

**Handling Missing Values**:
   - For columns with a high percentage of missing values (`Selected Age`, `Contact Primary Age`, `Contact Primary Birth Month`, `Contact Primary Birth Year`, `Contact Primary Gender`, `Check Number`, `Recurring Gift Amount`, `Notes`, `Campaign Name`, `Segment Name`, `First Recurring Gift Date`, `Contact Primary Address State`, `Contact Primary Address City`, `Contact Primary Full Address`, and `Contact Tags`), the following options will be considered.
     - Imputation, Removal, or Encoding Missingness (in case there is meaning behind why values are missing).

**Next Steps**

- `Selected Age` - Removal, not enough data.
- `Contact Primary Age` - Removal, not enough data.
- `Contact Primary Birth Month` - Removal, not enough data.
- `Contact Primary Birth Year` - Removal, not enough data.
- `Contact Primary Gender` - Removal, not enough data.
- `Check Number` - Removal, not enough data and not relevant.
- `Recurring Gift Amount` - Removal, not relevant & redundant as all gifts are listed
- `Notes` - Keep/Review, vectorization may be applied later in the process.
- `Campaign Name` - Imputation, missing values would be the general campaign.
- `Segment Name` - Imputation, missing values would be the general segment (similar to `Campaign Name`).
- `First Recurring Gift Date` - Removal, not relevant & redundant as all gifts are listed
- `Contact Primary Address State` - Imputation, Use other address-related values for donor.
- `Contact Primary Address City` - Imputation, Use other address-related values for donor.
- `Contact Primary Full Address` - Imputation, Use other address-related values for donor.
- `Contact Tags` - Encode, multiple values in each element.

### 1.5.2 Duplicate Values <a id='1.5.2_Duplicate_values'></a>

In [8]:
# Brief look at potential duplicate obeservations
# Using .duplicated() and .sum() to find all duplicates, mark them as True, and sum the amount of True's 

DonationData.duplicated(keep=False).sum()

58

- Reviewing full rows for duplicates has pinpointed 58 duplicates.

In [9]:
# reviewing the rows to confirm this is accurate
# subsetting dataframe to show all duplicates 
duplicates = DonationData[DonationData.duplicated(keep=False)]

In [10]:
# displaying dataframe to review rows

#duplicates

- Completing a quick review of the 58 rows reveals that these are indeed duplicates so they can be dropped.

In [11]:
#  drop duplicates
DonationDataV01 = DonationData.drop_duplicates()

In [12]:
# ensuring that only 29 rows were dropped by subtracting # of rows of adj data from the inital data 
DonationData.shape[0]-DonationDataV01.shape[0]

29

### 1.5.3 Dropping Columns <a id='1.5.3_Dropping_columns'></a>

In [13]:
'''
Recall from 1.5 above, the following columns will be dropped due high %'s of missing values:
Selected Age, Contact Primary Age, Contact Primary Birth Month, Contact Primary Birth Year, 
Contact Primary Gender, Recurring Gift Amount, First Recurring Gift Date and Check Number.
'''
columns_to_drop = ['Selected Age', 'Contact Primary Age', 'Contact Primary Birth Month', 
                  'Contact Primary Birth Year', 'Contact Primary Gender', 'Check Number',
                  'Recurring Gift Amount', 'First Recurring Gift Date']

# Drop the specified columns
DonationDataV02 = DonationDataV01.drop(columns=columns_to_drop)

In [14]:
#DonationDataV02.info()

### 1.5.4 Imputation <a id='1.5.4_Imputation'></a>

In [15]:
'''
Recall from 1.5 above, the following columns will be imputed as they contain information from 
missing and present values: Campaign Name, Segment Name, First Recurring Gift Date, 
Contact Primary Address State, Contact Primary Address City, Contact Primary Full Address
'''

# quick look at the columns to be imputed
columns_to_impute = ['Campaign Name', 'Segment Name', 'Contact Primary Address State', 
                     'Contact Primary Address City', 'Contact Primary Full Address']

#DonationDataV02.loc[:, columns_to_impute]

In [16]:
# Column: Campaign Name

DonationDataV02['Campaign Name'].unique()

array(['Default Campaign', nan, 'General Giving', '27372',
       'Capital Campaign', 'CSEC Advocacy Course', 'End of Year 2023',
       'General Giving 2024'], dtype=object)

- 'Default Campaign' and 'General Giving' both describe the same type of donations 
so 'Default Campaign' will be replaced by 'General Giving'
- Missing values and/or miscellaneous values will be replaced with 'General Giving'

In [17]:
# Replace values in a chain
# Replace all 'Default Campaign' values, missing values, and misc values with 'General Giving' 
DonationDataV03 = DonationDataV02.copy(deep=True) #deepcopy before adjusting
DonationDataV03['Campaign Name'] = DonationDataV02['Campaign Name'].replace('Default Campaign', 'General Giving')\
                                .replace([np.nan, '27372'], 'General Giving')

In [18]:
# Verify the unique values after replacement
DonationDataV03['Campaign Name'].unique()

array(['General Giving', 'Capital Campaign', 'CSEC Advocacy Course',
       'End of Year 2023', 'General Giving 2024'], dtype=object)

In [19]:
# Column: Segment Name
#DonationDataV03['Segment Name'].unique()

- The 'DE1017OT' value represents the default/general segment name but the name is not descriptive so it will be replaced with 'General Segment' 
- 'General Segment' will also replace missing values

In [20]:
# Replace 'DE1017OT' with 'General Segment' and missing values with 'General Segment' in 'Segment Name' column
DonationDataV03['Segment Name'].replace({'DE1017OT': 'General Segment', \
                                         np.nan: 'General Segment'}, inplace=True)

# Verify the unique values after replacement
#DonationDataV03['Segment Name'].unique()

The following replacements also need to be made for more descriptive values 

- GE0122OT: EFT
- UN1119EM: General Segment
- CA0322P2P: Capital Campaign
- GE0122WB2: PayPal
- GE0122OT1: EFT
- GE2023SM: Social Media
- EFT/VIrtuous: EFT
- CC EFT Donation: EFT

In [21]:
# Define the replacements
replacement_dict = {
    'DE1017OT': 'General Segment',
    'GE0122OT': 'EFT',
    'UN1119EM': 'General Segment',
    'CA0322P2P': 'Capital Campaign',
    'GE0122WB2': 'PayPal',
    'GE0122OT1': 'EFT',
    'GE2023SM': 'Social Media',
    'EFT/Virtuous': 'EFT',
    'CC EFT Donation': 'EFT'
}
# Replace values in 'Segment Name' column using the dictionary
DonationDataV03['Segment Name'].replace(replacement_dict, inplace=True)

Finally, the address columnns will be evaluated and imputation will be applied as needed.

In [22]:
# Columns: Contact Primary Address State, Contact Primary Address City, Contact Primary Full Address
DonationDataV03.loc[:,['Contact Primary Address State','Contact Primary Address City',\
                       'Contact Primary Full Address']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17327 entries, 0 to 17355
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Contact Primary Address State  13760 non-null  object
 1   Contact Primary Address City   13868 non-null  object
 2   Contact Primary Full Address   13869 non-null  object
dtypes: object(3)
memory usage: 541.5+ KB

In [23]:
# Fill missing address values with 'Unknown'

DonationDataV03['Contact Primary Full Address'].fillna(value='Unknown', inplace=True)
DonationDataV03['Contact Primary Address City'].fillna(value='Unknown', inplace=True)
DonationDataV03['Contact Primary Address State'].fillna(value='Unknown', inplace=True)

The rest of the missing address-related values were replaced with "Unknown"

### 1.5.5 Preliminary Encoding <a id='1.5.5_Encoding'></a>

The following features will be reviewed for encoding: 
- Contact Tags
- Notes

In [24]:
DonationDataV03['Contact Tags'].nunique()

422

In [25]:
DonationDataV03['Contact Tags'].head()

0                     Do not call;Website Email Submit
1                     Do not call;Website Email Submit
2    Do not call;Website Email Submit;Sustaining Do...
3                     Do not call;Website Email Submit
4                                                  NaN
Name: Contact Tags, dtype: object

In [26]:
# Initialize variables to store the maximum length and the corresponding value
max_length = 0
max_value = None

# Iterate over each value in the 'Contact Tags' column
for value in DonationDataV03['Contact Tags'].dropna():
    # Check if the value has more characters than the current maximum
    if len(value) > max_length:
        max_length = len(value)
        max_value = value

# Print the value with the most characters
print("Value with the most characters:", max_value)
print("Number of characters:", max_length)

Value with the most characters: Leila's Contacts;Gala 2023 Table Host;Gala 2023;Website Email Submit;In Kind Donor;Second Chance Prom 2023;Tasya Event Email List;Lapsed Donor
Number of characters: 142

In [27]:
DonationDataV03['Notes'].nunique()

3558

In [28]:
DonationDataV03['Notes'].head()

0        Ticket: 2015 Gala - oid=3111666: Source WePay
1    Ticket:  4th Annual Saving Innocence Gala VIP ...
2    emailed re: stoppage - it's fixed: WePay: Last...
3                       Shopping Cart Payment Received
4               Source Check: Last Donation 12/20/2015
Name: Notes, dtype: object

There are 423 unique values for 'Contact Tags'and 3559 unique values for 'Notes' so vectorization will be explored in later notebooks. For now, these will be kept as-is.

### 1.5.6 Data Type Conversions  <a id='1.5.5_Conversion'></a>

'Gift Date' and 'First Gift Date' need to be converted into datetime values

In [29]:
type(DonationDataV03['Gift Date'][0])

str

In [30]:
type(DonationDataV03['First Gift Date'][0])

str

It looks like the date values are strings so these need to be converted.

In [31]:
# Convert 'Gift Date' column to datetime
DonationDataV03['Gift Date'] = pd.to_datetime(DonationDataV03['Gift Date'])

# Convert 'First Gift Date' column to datetime
DonationDataV03['First Gift Date'] = pd.to_datetime(DonationDataV03['First Gift Date'])

## 1.6 A Look Into Categorical Features <a id='1.6_Categorical_Features'></a>

In [32]:
DonationDataV03_Categorical_Features = DonationDataV03.select_dtypes(include=['object'])

In [1]:
DonationDataV03_Categorical_Features.info()

NameError: name 'DonationDataV03_Categorical_Features' is not defined

In [44]:
#DonationDataV03_Categorical_Features.head()

The categorical features hold information about the donor (ie location, contact type, and notes) as well as details on the marketing segment and campaign.

## 1.7 A Look Into Numerical Features <a id='1.7_Numerical_Features'></a>

In [35]:
DonationDataV03_Numerical_Features = DonationDataV03.select_dtypes(include=['int64','float64'])

In [36]:
DonationDataV03_Numerical_Features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17327 entries, 0 to 17355
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Contact Id            17327 non-null  int64
 1   Amount                17327 non-null  float64
 2   Contact Social Score  17325 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 1.0 MB

In [37]:
DonationDataV03_Numerical_Features.describe()

         Contact Id         Amount  Contact Social Score
count  17327.000000   17327.000000          17325.000000
mean    4868.886189     626.942225             67.693853
std     4090.778636    6058.982527             26.663137
min        1.000000   -2545.300000             30.000000
25%     1192.000000      25.000000             33.000000
50%     3666.000000      50.000000             77.000000
75%     9398.500000     150.000000             91.000000
max    12724.000000  400000.000000             99.000000

Amount is the donation amount and the Contact Social Score is a platform calculated score based on the number of connections the donor has with others (within the CRM)

**Note:** There are negative values within the 'Amount' column which were refunds recorded. This would cause issues when calculating the lifetime value since the total donation for some donors would be zero. This will need be resolved before calculating the average donor lifetime value below.

### 1.7.1 Target Feature <a id='1.7.1_Target_Features'></a>

This project aims to enhance the effectiveness of donor engagement and support for a nonprofit organization by predicting donor lifetime value (LTV) and churn. Donor LTV is calculated as the product of the average donation amount, average donation frequency, and donor lifespan. Churn refers to the rate at which donors cease contributing to the organization.

To achieve these objectives, target variables will be derived from the current data. For the analysis, donors will be classified as active if they have made a donation within the last 12 months of March 2024. Active donors are those who have contributed within this timeframe, while inactive donors are those who have not. The reason for this is that there are several annual donors that support the organization.

In [38]:
DonationDataV04 = DonationDataV03.copy(deep=True) # preparing the new version of the dataframe that will contain the calcuated features

In [39]:
# Creating the churn column

# End date is the maximum date in the 'Gift Date' column
end_date = DonationDataV04['Gift Date'].max()
# Start date for the 12-month period
start_date = end_date - pd.DateOffset(months=12)

# Filter the DataFrame to include only transactions within the last 12 months
active_donors = DonationDataV04[DonationDataV04['Gift Date'] >= start_date]

# Get unique active donor IDs
active_donor_ids = active_donors['Contact Id'].unique()

# Create a column indicating whether each donor has churned (is inactive - 1, is active - 0)
DonationDataV04['Churned'] = (~DonationDataV04['Contact Id'].isin(active_donor_ids)).astype(int)

Before calculating the lifetime value, the negative & zero amounts need to be resolved.

In [52]:
# Moving forward with only the donation amounts greater than 0 
DonationDataV05 = DonationDataV04[DonationDataV04['Amount'] > 0]

In [53]:
# Creating the donor lifetime value column

# Calculate average donation amount per donor
average_donation_amount = DonationDataV05.groupby('Contact Id')['Amount'].mean()

# Calculate average donation frequency per donor
donation_counts = DonationDataV05.groupby('Contact Id').size()
donation_frequency = donation_counts / (DonationDataV05['Gift Date'].max() - DonationDataV05['Gift Date'].min()).days

donation_frequency.loc[donation_counts == 1] = 1 #Impute missing values for single-donation donors

# Calculate donor lifespan
donor_lifespan = (DonationDataV05.groupby('Contact Id')['Gift Date'].max() - DonationDataV05.groupby('Contact Id')['Gift Date'].min()).dt.days
donor_lifespan = donor_lifespan.where(donor_lifespan > 0, 1) #Impute missing values for single-donation donors

# Calculate donor lifetime value (LTV)
donor_ltv = average_donation_amount * donation_frequency * donor_lifespan

# Add LTV column to the DataFrame

# Create a DataFrame with 'Contact Id' and 'LTV'
ltv_df = pd.DataFrame({'Contact Id': donor_ltv.index, 'LTV': donor_ltv.values})

# Merge the 'LTV' values back to the original DataFrame
DonationDataV05 = DonationDataV05.merge(ltv_df, on='Contact Id', how='left')

The dataframe now contains a 'Churned' and 'LTV' target variables.

## 1.8 Save the data <a id='1.8_Save_data'></a>

In [48]:
DonationDataV05.to_csv('Donations _ Jan 2015 to Mar 2024_R1 .csv')

## 1.9 Summary <a id='1.9_Summary'></a>

Several key steps were taken to ensure its quality and suitability for further exploration.

Initially, missing values were identified across various columns. Columns with a high percentage of missing values, such as selected age and contact primary age, were insufficient for analysis and removed. For other columns, imputation techniques were applied, filling in missing values where appropriate, such as campaign names and segment names.

Duplicate rows were identified and removed. Additionally, columns with redundant or irrelevant information, such as check numbers and first recurring gift dates, were dropped to streamline the dataset.Further adjustments involved data type conversions, particularly converting date columns to datetime values for consistency and ease of analysis.

An exploration of categorical and numerical features provided insights into the nature of the data.The target features for analysis, including identifying churned donors and calculating donor lifetime value, were derived from the dataset.

Finally, the cleaned and processed dataset was saved, ensuring that the final version of the data after wrangling was preserved for the next steps.